{
  "openapi": "3.0.1",
  "info": {
    "version": "9.0.0",
    "title": "GitHub v3 REST API",
    "description": "# Introduction\n\nThis describes the resources that make up the official GitHub REST API v3. If you have any problems or requests, please contact [GitHub Support](https://github.com/contact).",
    "license": { "name": "MIT" },
    "termsOfService": "https://help.github.com/articles/github-terms-of-service/",
    "contact": { "name": "Support", "email": "support@github.com" }
  },
  "servers": [{ "url": "https://api.github.com" }],
  "externalDocs": {
    "description": "GitHub v3 REST API",
    "url": "https://developer.github.com/v3/"
  },
  "paths": {
    "/app": { "get": { "$ref": "operations/apps/get-authenticated.json" } },
    "/app-manifests/{code}/conversions": {
      "post": { "$ref": "operations/apps/create-from-manifest.json" }
    },
    "/app/installations": {
      "get": { "$ref": "operations/apps/list-installations.json" }
    },
    "/app/installations/{installation_id}": {
      "get": { "$ref": "operations/apps/get-installation.json" },
      "delete": { "$ref": "operations/apps/delete-installation.json" }
    },
    "/app/installations/{installation_id}/access_tokens": {
      "post": { "$ref": "operations/apps/create-installation-token.json" }
    },
    "/applications/grants": {
      "get": { "$ref": "operations/oauth-authorizations/list-grants.json" }
    },
    "/applications/grants/{grant_id}": {
      "get": { "$ref": "operations/oauth-authorizations/get-grant.json" },
      "delete": { "$ref": "operations/oauth-authorizations/delete-grant.json" }
    },
    "/applications/{client_id}/grant": {
      "delete": { "$ref": "operations/apps/delete-authorization.json" }
    },
    "/applications/{client_id}/grants/{access_token}": {
      "delete": { "$ref": "operations/apps/revoke-grant-for-application.json" }
    },
    "/applications/{client_id}/token": {
      "post": { "$ref": "operations/apps/check-token.json" },
      "patch": { "$ref": "operations/apps/reset-token.json" },
      "delete": { "$ref": "operations/apps/delete-token.json" }
    },
    "/applications/{client_id}/tokens/{access_token}": {
      "get": { "$ref": "operations/apps/check-authorization.json" },
      "post": { "$ref": "operations/apps/reset-authorization.json" },
      "delete": {
        "$ref": "operations/apps/revoke-authorization-for-application.json"
      }
    },
    "/apps/{app_slug}": {
      "get": { "$ref": "operations/apps/get-by-slug.json" }
    },
    "/authorizations": {
      "get": {
        "$ref": "operations/oauth-authorizations/list-authorizations.json"
      },
      "post": {
        "$ref": "operations/oauth-authorizations/create-authorization.json"
      }
    },
    "/authorizations/clients/{client_id}": {
      "put": {
        "$ref": "operations/oauth-authorizations/get-or-create-authorization-for-app.json"
      }
    },
    "/authorizations/clients/{client_id}/{fingerprint}": {
      "put": {
        "$ref": "operations/oauth-authorizations/get-or-create-authorization-for-app-and-fingerprint.json"
      }
    },
    "/authorizations/{authorization_id}": {
      "get": {
        "$ref": "operations/oauth-authorizations/get-authorization.json"
      },
      "patch": {
        "$ref": "operations/oauth-authorizations/update-authorization.json"
      },
      "delete": {
        "$ref": "operations/oauth-authorizations/delete-authorization.json"
      }
    },
    "/codes_of_conduct": {
      "get": { "$ref": "operations/codes-of-conduct/list-conduct-codes.json" }
    },
    "/codes_of_conduct/{key}": {
      "get": { "$ref": "operations/codes-of-conduct/get-conduct-code.json" }
    },
    "/content_references/{content_reference_id}/attachments": {
      "post": { "$ref": "operations/apps/create-content-attachment.json" }
    },
    "/emojis": { "get": { "$ref": "operations/emojis/get.json" } },
    "/events": {
      "get": { "$ref": "operations/activity/list-public-events.json" }
    },
    "/feeds": { "get": { "$ref": "operations/activity/list-feeds.json" } },
    "/gists": {
      "get": { "$ref": "operations/gists/list.json" },
      "post": { "$ref": "operations/gists/create.json" }
    },
    "/gists/public": { "get": { "$ref": "operations/gists/list-public.json" } },
    "/gists/starred": {
      "get": { "$ref": "operations/gists/list-starred.json" }
    },
    "/gists/{gist_id}": {
      "get": { "$ref": "operations/gists/get.json" },
      "patch": { "$ref": "operations/gists/update.json" },
      "delete": { "$ref": "operations/gists/delete.json" }
    },
    "/gists/{gist_id}/comments": {
      "get": { "$ref": "operations/gists/list-comments.json" },
      "post": { "$ref": "operations/gists/create-comment.json" }
    },
    "/gists/{gist_id}/comments/{comment_id}": {
      "get": { "$ref": "operations/gists/get-comment.json" },
      "patch": { "$ref": "operations/gists/update-comment.json" },
      "delete": { "$ref": "operations/gists/delete-comment.json" }
    },
    "/gists/{gist_id}/commits": {
      "get": { "$ref": "operations/gists/list-commits.json" }
    },
    "/gists/{gist_id}/forks": {
      "post": { "$ref": "operations/gists/fork.json" },
      "get": { "$ref": "operations/gists/list-forks.json" }
    },
    "/gists/{gist_id}/star": {
      "put": { "$ref": "operations/gists/star.json" },
      "delete": { "$ref": "operations/gists/unstar.json" },
      "get": { "$ref": "operations/gists/check-is-starred.json" }
    },
    "/gists/{gist_id}/{sha}": {
      "get": { "$ref": "operations/gists/get-revision.json" }
    },
    "/gitignore/templates": {
      "get": { "$ref": "operations/gitignore/list-templates.json" }
    },
    "/gitignore/templates/{name}": {
      "get": { "$ref": "operations/gitignore/get-template.json" }
    },
    "/installation/repositories": {
      "get": { "$ref": "operations/apps/list-repos.json" }
    },
    "/installation/token": {
      "delete": { "$ref": "operations/apps/revoke-installation-token.json" }
    },
    "/issues": { "get": { "$ref": "operations/issues/list.json" } },
    "/legacy/issues/search/{owner}/{repository}/{state}/{keyword}": {
      "get": { "$ref": "operations/search/issues-legacy.json" }
    },
    "/legacy/repos/search/{keyword}": {
      "get": { "$ref": "operations/search/repos-legacy.json" }
    },
    "/legacy/user/email/{email}": {
      "get": { "$ref": "operations/search/email-legacy.json" }
    },
    "/legacy/user/search/{keyword}": {
      "get": { "$ref": "operations/search/users-legacy.json" }
    },
    "/licenses": {
      "get": { "$ref": "operations/licenses/list-commonly-used.json" }
    },
    "/licenses/{license}": {
      "get": { "$ref": "operations/licenses/get.json" }
    },
    "/markdown": { "post": { "$ref": "operations/markdown/render.json" } },
    "/markdown/raw": {
      "post": { "$ref": "operations/markdown/render-raw.json" }
    },
    "/marketplace_listing/accounts/{account_id}": {
      "get": {
        "$ref": "operations/apps/check-account-is-associated-with-any.json"
      }
    },
    "/marketplace_listing/plans": {
      "get": { "$ref": "operations/apps/list-plans.json" }
    },
    "/marketplace_listing/plans/{plan_id}/accounts": {
      "get": {
        "$ref": "operations/apps/list-accounts-user-or-org-on-plan.json"
      }
    },
    "/marketplace_listing/stubbed/accounts/{account_id}": {
      "get": {
        "$ref": "operations/apps/check-account-is-associated-with-any-stubbed.json"
      }
    },
    "/marketplace_listing/stubbed/plans": {
      "get": { "$ref": "operations/apps/list-plans-stubbed.json" }
    },
    "/marketplace_listing/stubbed/plans/{plan_id}/accounts": {
      "get": {
        "$ref": "operations/apps/list-accounts-user-or-org-on-plan-stubbed.json"
      }
    },
    "/meta": { "get": { "$ref": "operations/meta/get.json" } },
    "/networks/{owner}/{repo}/events": {
      "get": {
        "$ref": "operations/activity/list-public-events-for-repo-network.json"
      }
    },
    "/notifications": {
      "get": { "$ref": "operations/activity/list-notifications.json" },
      "put": { "$ref": "operations/activity/mark-as-read.json" }
    },
    "/notifications/threads/{thread_id}": {
      "get": { "$ref": "operations/activity/get-thread.json" },
      "patch": { "$ref": "operations/activity/mark-thread-as-read.json" }
    },
    "/notifications/threads/{thread_id}/subscription": {
      "get": { "$ref": "operations/activity/get-thread-subscription.json" },
      "put": { "$ref": "operations/activity/set-thread-subscription.json" },
      "delete": {
        "$ref": "operations/activity/delete-thread-subscription.json"
      }
    },
    "/organizations": { "get": { "$ref": "operations/orgs/list.json" } },
    "/orgs/{org}": {
      "get": { "$ref": "operations/orgs/get.json" },
      "patch": { "$ref": "operations/orgs/update.json" }
    },
    "/orgs/{org}/blocks": {
      "get": { "$ref": "operations/orgs/list-blocked-users.json" }
    },
    "/orgs/{org}/blocks/{username}": {
      "get": { "$ref": "operations/orgs/check-blocked-user.json" },
      "put": { "$ref": "operations/orgs/block-user.json" },
      "delete": { "$ref": "operations/orgs/unblock-user.json" }
    },
    "/orgs/{org}/credential-authorizations": {
      "get": { "$ref": "operations/orgs/list-credential-authorizations.json" }
    },
    "/orgs/{org}/credential-authorizations/{credential_id}": {
      "delete": {
        "$ref": "operations/orgs/remove-credential-authorization.json"
      }
    },
    "/orgs/{org}/events": {
      "get": { "$ref": "operations/activity/list-public-events-for-org.json" }
    },
    "/orgs/{org}/hooks": {
      "get": { "$ref": "operations/orgs/list-hooks.json" },
      "post": { "$ref": "operations/orgs/create-hook.json" }
    },
    "/orgs/{org}/hooks/{hook_id}": {
      "get": { "$ref": "operations/orgs/get-hook.json" },
      "patch": { "$ref": "operations/orgs/update-hook.json" },
      "delete": { "$ref": "operations/orgs/delete-hook.json" }
    },
    "/orgs/{org}/hooks/{hook_id}/pings": {
      "post": { "$ref": "operations/orgs/ping-hook.json" }
    },
    "/orgs/{org}/installation": {
      "get": { "$ref": "operations/apps/get-org-installation.json" }
    },
    "/orgs/{org}/installations": {
      "get": { "$ref": "operations/orgs/list-installations.json" }
    },
    "/orgs/{org}/interaction-limits": {
      "get": {
        "$ref": "operations/interactions/get-restrictions-for-org.json"
      },
      "put": {
        "$ref": "operations/interactions/add-or-update-restrictions-for-org.json"
      },
      "delete": {
        "$ref": "operations/interactions/remove-restrictions-for-org.json"
      }
    },
    "/orgs/{org}/invitations": {
      "get": { "$ref": "operations/orgs/list-pending-invitations.json" },
      "post": { "$ref": "operations/orgs/create-invitation.json" }
    },
    "/orgs/{org}/invitations/{invitation_id}/teams": {
      "get": { "$ref": "operations/orgs/list-invitation-teams.json" }
    },
    "/orgs/{org}/issues": {
      "get": { "$ref": "operations/issues/list-for-org.json" }
    },
    "/orgs/{org}/members": {
      "get": { "$ref": "operations/orgs/list-members.json" }
    },
    "/orgs/{org}/members/{username}": {
      "get": { "$ref": "operations/orgs/check-membership.json" },
      "delete": { "$ref": "operations/orgs/remove-member.json" }
    },
    "/orgs/{org}/memberships/{username}": {
      "get": { "$ref": "operations/orgs/get-membership.json" },
      "put": { "$ref": "operations/orgs/add-or-update-membership.json" },
      "delete": { "$ref": "operations/orgs/remove-membership.json" }
    },
    "/orgs/{org}/migrations": {
      "post": { "$ref": "operations/migrations/start-for-org.json" },
      "get": { "$ref": "operations/migrations/list-for-org.json" }
    },
    "/orgs/{org}/migrations/{migration_id}": {
      "get": { "$ref": "operations/migrations/get-status-for-org.json" }
    },
    "/orgs/{org}/migrations/{migration_id}/archive": {
      "get": { "$ref": "operations/migrations/download-archive-for-org.json" },
      "delete": { "$ref": "operations/migrations/delete-archive-for-org.json" }
    },
    "/orgs/{org}/migrations/{migration_id}/repos/{repo_name}/lock": {
      "delete": { "$ref": "operations/migrations/unlock-repo-for-org.json" }
    },
    "/orgs/{org}/migrations/{migration_id}/repositories": {
      "get": { "$ref": "operations/migrations/list-repos-for-org.json" }
    },
    "/orgs/{org}/outside_collaborators": {
      "get": { "$ref": "operations/orgs/list-outside-collaborators.json" }
    },
    "/orgs/{org}/outside_collaborators/{username}": {
      "delete": { "$ref": "operations/orgs/remove-outside-collaborator.json" },
      "put": {
        "$ref": "operations/orgs/convert-member-to-outside-collaborator.json"
      }
    },
    "/orgs/{org}/projects": {
      "get": { "$ref": "operations/projects/list-for-org.json" },
      "post": { "$ref": "operations/projects/create-for-org.json" }
    },
    "/orgs/{org}/public_members": {
      "get": { "$ref": "operations/orgs/list-public-members.json" }
    },
    "/orgs/{org}/public_members/{username}": {
      "get": { "$ref": "operations/orgs/check-public-membership.json" },
      "put": { "$ref": "operations/orgs/publicize-membership.json" },
      "delete": { "$ref": "operations/orgs/conceal-membership.json" }
    },
    "/orgs/{org}/repos": {
      "get": { "$ref": "operations/repos/list-for-org.json" },
      "post": { "$ref": "operations/repos/create-in-org.json" }
    },
    "/orgs/{org}/team-sync/groups": {
      "get": { "$ref": "operations/teams/list-id-p-groups-for-org.json" }
    },
    "/orgs/{org}/teams": {
      "get": { "$ref": "operations/teams/list.json" },
      "post": { "$ref": "operations/teams/create.json" }
    },
    "/orgs/{org}/teams/{team_slug}": {
      "get": { "$ref": "operations/teams/get-by-name.json" },
      "patch": { "$ref": "operations/teams/update-in-org.json" },
      "delete": { "$ref": "operations/teams/delete-in-org.json" }
    },
    "/orgs/{org}/teams/{team_slug}/discussions": {
      "get": { "$ref": "operations/teams/list-discussions-in-org.json" },
      "post": { "$ref": "operations/teams/create-discussion-in-org.json" }
    },
    "/orgs/{org}/teams/{team_slug}/discussions/{discussion_number}": {
      "get": { "$ref": "operations/teams/get-discussion-in-org.json" },
      "patch": { "$ref": "operations/teams/update-discussion-in-org.json" },
      "delete": { "$ref": "operations/teams/delete-discussion-in-org.json" }
    },
    "/orgs/{org}/teams/{team_slug}/discussions/{discussion_number}/comments": {
      "get": {
        "$ref": "operations/teams/list-discussion-comments-in-org.json"
      },
      "post": {
        "$ref": "operations/teams/create-discussion-comment-in-org.json"
      }
    },
    "/orgs/{org}/teams/{team_slug}/discussions/{discussion_number}/comments/{comment_number}": {
      "get": { "$ref": "operations/teams/get-discussion-comment-in-org.json" },
      "patch": {
        "$ref": "operations/teams/update-discussion-comment-in-org.json"
      },
      "delete": {
        "$ref": "operations/teams/delete-discussion-comment-in-org.json"
      }
    },
    "/orgs/{org}/teams/{team_slug}/discussions/{discussion_number}/comments/{comment_number}/reactions": {
      "get": {
        "$ref": "operations/reactions/list-for-team-discussion-comment-in-org.json"
      },
      "post": {
        "$ref": "operations/reactions/create-for-team-discussion-comment-in-org.json"
      }
    },
    "/orgs/{org}/teams/{team_slug}/discussions/{discussion_number}/reactions": {
      "get": {
        "$ref": "operations/reactions/list-for-team-discussion-in-org.json"
      },
      "post": {
        "$ref": "operations/reactions/create-for-team-discussion-in-org.json"
      }
    },
    "/orgs/{org}/teams/{team_slug}/invitations": {
      "get": { "$ref": "operations/teams/list-pending-invitations-in-org.json" }
    },
    "/orgs/{org}/teams/{team_slug}/members": {
      "get": { "$ref": "operations/teams/list-members-in-org.json" }
    },
    "/orgs/{org}/teams/{team_slug}/memberships/{username}": {
      "get": { "$ref": "operations/teams/get-membership-in-org.json" },
      "put": {
        "$ref": "operations/teams/add-or-update-membership-in-org.json"
      },
      "delete": { "$ref": "operations/teams/remove-membership-in-org.json" }
    },
    "/orgs/{org}/teams/{team_slug}/projects": {
      "get": { "$ref": "operations/teams/list-projects-in-org.json" }
    },
    "/orgs/{org}/teams/{team_slug}/projects/{project_id}": {
      "get": { "$ref": "operations/teams/review-project-in-org.json" },
      "put": { "$ref": "operations/teams/add-or-update-project-in-org.json" },
      "delete": { "$ref": "operations/teams/remove-project-in-org.json" }
    },
    "/orgs/{org}/teams/{team_slug}/repos": {
      "get": { "$ref": "operations/teams/list-repos-in-org.json" }
    },
    "/orgs/{org}/teams/{team_slug}/repos/{owner}/{repo}": {
      "get": { "$ref": "operations/teams/check-manages-repo-in-org.json" },
      "put": { "$ref": "operations/teams/add-or-update-repo-in-org.json" },
      "delete": { "$ref": "operations/teams/remove-repo-in-org.json" }
    },
    "/orgs/{org}/teams/{team_slug}/team-sync/group-mappings": {
      "get": { "$ref": "operations/teams/list-id-p-groups-in-org.json" },
      "patch": {
        "$ref": "operations/teams/create-or-update-id-p-group-connections-in-org.json"
      }
    },
    "/orgs/{org}/teams/{team_slug}/teams": {
      "get": { "$ref": "operations/teams/list-child-in-org.json" }
    },
    "/projects/columns/cards/{card_id}": {
      "get": { "$ref": "operations/projects/get-card.json" },
      "patch": { "$ref": "operations/projects/update-card.json" },
      "delete": { "$ref": "operations/projects/delete-card.json" }
    },
    "/projects/columns/cards/{card_id}/moves": {
      "post": { "$ref": "operations/projects/move-card.json" }
    },
    "/projects/columns/{column_id}": {
      "get": { "$ref": "operations/projects/get-column.json" },
      "patch": { "$ref": "operations/projects/update-column.json" },
      "delete": { "$ref": "operations/projects/delete-column.json" }
    },
    "/projects/columns/{column_id}/cards": {
      "get": { "$ref": "operations/projects/list-cards.json" },
      "post": { "$ref": "operations/projects/create-card.json" }
    },
    "/projects/columns/{column_id}/moves": {
      "post": { "$ref": "operations/projects/move-column.json" }
    },
    "/projects/{project_id}": {
      "get": { "$ref": "operations/projects/get.json" },
      "patch": { "$ref": "operations/projects/update.json" },
      "delete": { "$ref": "operations/projects/delete.json" }
    },
    "/projects/{project_id}/collaborators": {
      "get": { "$ref": "operations/projects/list-collaborators.json" }
    },
    "/projects/{project_id}/collaborators/{username}": {
      "put": { "$ref": "operations/projects/add-collaborator.json" },
      "delete": { "$ref": "operations/projects/remove-collaborator.json" }
    },
    "/projects/{project_id}/collaborators/{username}/permission": {
      "get": { "$ref": "operations/projects/review-user-permission-level.json" }
    },
    "/projects/{project_id}/columns": {
      "get": { "$ref": "operations/projects/list-columns.json" },
      "post": { "$ref": "operations/projects/create-column.json" }
    },
    "/rate_limit": { "get": { "$ref": "operations/rate-limit/get.json" } },
    "/reactions/{reaction_id}": {
      "delete": { "$ref": "operations/reactions/delete.json" }
    },
    "/repos/{owner}/{repo}": {
      "get": { "$ref": "operations/repos/get.json" },
      "patch": { "$ref": "operations/repos/update.json" },
      "delete": { "$ref": "operations/repos/delete.json" }
    },
    "/repos/{owner}/{repo}/actions/artifacts/{artifact_id}": {
      "get": { "$ref": "operations/actions/get-artifact.json" },
      "delete": { "$ref": "operations/actions/delete-artifact.json" }
    },
    "/repos/{owner}/{repo}/actions/artifacts/{artifact_id}/{archive_format}": {
      "get": { "$ref": "operations/actions/download-artifact.json" }
    },
    "/repos/{owner}/{repo}/actions/jobs/{job_id}": {
      "get": { "$ref": "operations/actions/get-workflow-job.json" }
    },
    "/repos/{owner}/{repo}/actions/jobs/{job_id}/logs": {
      "get": { "$ref": "operations/actions/list-workflow-job-logs.json" }
    },
    "/repos/{owner}/{repo}/actions/runners": {
      "get": {
        "$ref": "operations/actions/list-self-hosted-runners-for-repo.json"
      }
    },
    "/repos/{owner}/{repo}/actions/runners/downloads": {
      "get": {
        "$ref": "operations/actions/list-downloads-for-self-hosted-runner-application.json"
      }
    },
    "/repos/{owner}/{repo}/actions/runners/registration-token": {
      "post": { "$ref": "operations/actions/create-registration-token.json" }
    },
    "/repos/{owner}/{repo}/actions/runners/remove-token": {
      "post": { "$ref": "operations/actions/create-remove-token.json" }
    },
    "/repos/{owner}/{repo}/actions/runners/{runner_id}": {
      "get": { "$ref": "operations/actions/get-self-hosted-runner.json" },
      "delete": { "$ref": "operations/actions/remove-self-hosted-runner.json" }
    },
    "/repos/{owner}/{repo}/actions/runs": {
      "get": { "$ref": "operations/actions/list-repo-workflow-runs.json" }
    },
    "/repos/{owner}/{repo}/actions/runs/{run_id}": {
      "get": { "$ref": "operations/actions/get-workflow-run.json" }
    },
    "/repos/{owner}/{repo}/actions/runs/{run_id}/artifacts": {
      "get": { "$ref": "operations/actions/list-workflow-run-artifacts.json" }
    },
    "/repos/{owner}/{repo}/actions/runs/{run_id}/cancel": {
      "post": { "$ref": "operations/actions/cancel-workflow-run.json" }
    },
    "/repos/{owner}/{repo}/actions/runs/{run_id}/jobs": {
      "get": { "$ref": "operations/actions/list-jobs-for-workflow-run.json" }
    },
    "/repos/{owner}/{repo}/actions/runs/{run_id}/logs": {
      "get": { "$ref": "operations/actions/list-workflow-run-logs.json" }
    },
    "/repos/{owner}/{repo}/actions/runs/{run_id}/rerun": {
      "post": { "$ref": "operations/actions/re-run-workflow.json" }
    },
    "/repos/{owner}/{repo}/actions/secrets": {
      "get": { "$ref": "operations/actions/list-secrets-for-repo.json" }
    },
    "/repos/{owner}/{repo}/actions/secrets/public-key": {
      "get": { "$ref": "operations/actions/get-public-key.json" }
    },
    "/repos/{owner}/{repo}/actions/secrets/{name}": {
      "get": { "$ref": "operations/actions/get-secret.json" },
      "put": {
        "$ref": "operations/actions/create-or-update-secret-for-repo.json"
      },
      "delete": { "$ref": "operations/actions/delete-secret-from-repo.json" }
    },
    "/repos/{owner}/{repo}/actions/workflows": {
      "get": { "$ref": "operations/actions/list-repo-workflows.json" }
    },
    "/repos/{owner}/{repo}/actions/workflows/{workflow_id}": {
      "get": { "$ref": "operations/actions/get-workflow.json" }
    },
    "/repos/{owner}/{repo}/actions/workflows/{workflow_id}/runs": {
      "get": { "$ref": "operations/actions/list-workflow-runs.json" }
    },
    "/repos/{owner}/{repo}/assignees": {
      "get": { "$ref": "operations/issues/list-assignees.json" }
    },
    "/repos/{owner}/{repo}/assignees/{assignee}": {
      "get": { "$ref": "operations/issues/check-assignee.json" }
    },
    "/repos/{owner}/{repo}/automated-security-fixes": {
      "put": {
        "$ref": "operations/repos/enable-automated-security-fixes.json"
      },
      "delete": {
        "$ref": "operations/repos/disable-automated-security-fixes.json"
      }
    },
    "/repos/{owner}/{repo}/branches": {
      "get": { "$ref": "operations/repos/list-branches.json" }
    },
    "/repos/{owner}/{repo}/branches/{branch}": {
      "get": { "$ref": "operations/repos/get-branch.json" }
    },
    "/repos/{owner}/{repo}/branches/{branch}/protection": {
      "get": { "$ref": "operations/repos/get-branch-protection.json" },
      "put": { "$ref": "operations/repos/update-branch-protection.json" },
      "delete": { "$ref": "operations/repos/remove-branch-protection.json" }
    },
    "/repos/{owner}/{repo}/branches/{branch}/protection/enforce_admins": {
      "get": {
        "$ref": "operations/repos/get-protected-branch-admin-enforcement.json"
      },
      "post": {
        "$ref": "operations/repos/add-protected-branch-admin-enforcement.json"
      },
      "delete": {
        "$ref": "operations/repos/remove-protected-branch-admin-enforcement.json"
      }
    },
    "/repos/{owner}/{repo}/branches/{branch}/protection/required_pull_request_reviews": {
      "get": {
        "$ref": "operations/repos/get-protected-branch-pull-request-review-enforcement.json"
      },
      "patch": {
        "$ref": "operations/repos/update-protected-branch-pull-request-review-enforcement.json"
      },
      "delete": {
        "$ref": "operations/repos/remove-protected-branch-pull-request-review-enforcement.json"
      }
    },
    "/repos/{owner}/{repo}/branches/{branch}/protection/required_signatures": {
      "get": {
        "$ref": "operations/repos/get-protected-branch-required-signatures.json"
      },
      "post": {
        "$ref": "operations/repos/add-protected-branch-required-signatures.json"
      },
      "delete": {
        "$ref": "operations/repos/remove-protected-branch-required-signatures.json"
      }
    },
    "/repos/{owner}/{repo}/branches/{branch}/protection/required_status_checks": {
      "get": {
        "$ref": "operations/repos/get-protected-branch-required-status-checks.json"
      },
      "patch": {
        "$ref": "operations/repos/update-protected-branch-required-status-checks.json"
      },
      "delete": {
        "$ref": "operations/repos/remove-protected-branch-required-status-checks.json"
      }
    },
    "/repos/{owner}/{repo}/branches/{branch}/protection/required_status_checks/contexts": {
      "get": {
        "$ref": "operations/repos/list-protected-branch-required-status-checks-contexts.json"
      },
      "put": {
        "$ref": "operations/repos/replace-protected-branch-required-status-checks-contexts.json"
      },
      "post": {
        "$ref": "operations/repos/add-protected-branch-required-status-checks-contexts.json"
      },
      "delete": {
        "$ref": "operations/repos/remove-protected-branch-required-status-checks-contexts.json"
      }
    },
    "/repos/{owner}/{repo}/branches/{branch}/protection/restrictions": {
      "get": {
        "$ref": "operations/repos/get-protected-branch-restrictions.json"
      },
      "delete": {
        "$ref": "operations/repos/remove-protected-branch-restrictions.json"
      }
    },
    "/repos/{owner}/{repo}/branches/{branch}/protection/restrictions/apps": {
      "get": {
        "$ref": "operations/repos/get-apps-with-access-to-protected-branch.json"
      },
      "put": {
        "$ref": "operations/repos/replace-protected-branch-app-restrictions.json"
      },
      "post": {
        "$ref": "operations/repos/add-protected-branch-app-restrictions.json"
      },
      "delete": {
        "$ref": "operations/repos/remove-protected-branch-app-restrictions.json"
      }
    },
    "/repos/{owner}/{repo}/branches/{branch}/protection/restrictions/teams": {
      "get": {
        "$ref": "operations/repos/get-teams-with-access-to-protected-branch.json"
      },
      "put": {
        "$ref": "operations/repos/replace-protected-branch-team-restrictions.json"
      },
      "post": {
        "$ref": "operations/repos/add-protected-branch-team-restrictions.json"
      },
      "delete": {
        "$ref": "operations/repos/remove-protected-branch-team-restrictions.json"
      }
    },
    "/repos/{owner}/{repo}/branches/{branch}/protection/restrictions/users": {
      "get": {
        "$ref": "operations/repos/get-users-with-access-to-protected-branch.json"
      },
      "put": {
        "$ref": "operations/repos/replace-protected-branch-user-restrictions.json"
      },
      "post": {
        "$ref": "operations/repos/add-protected-branch-user-restrictions.json"
      },
      "delete": {
        "$ref": "operations/repos/remove-protected-branch-user-restrictions.json"
      }
    },
    "/repos/{owner}/{repo}/check-runs": {
      "post": { "$ref": "operations/checks/create.json" }
    },
    "/repos/{owner}/{repo}/check-runs/{check_run_id}": {
      "patch": { "$ref": "operations/checks/update.json" },
      "get": { "$ref": "operations/checks/get.json" }
    },
    "/repos/{owner}/{repo}/check-runs/{check_run_id}/annotations": {
      "get": { "$ref": "operations/checks/list-annotations.json" }
    },
    "/repos/{owner}/{repo}/check-suites": {
      "post": { "$ref": "operations/checks/create-suite.json" }
    },
    "/repos/{owner}/{repo}/check-suites/preferences": {
      "patch": { "$ref": "operations/checks/set-suites-preferences.json" }
    },
    "/repos/{owner}/{repo}/check-suites/{check_suite_id}": {
      "get": { "$ref": "operations/checks/get-suite.json" }
    },
    "/repos/{owner}/{repo}/check-suites/{check_suite_id}/check-runs": {
      "get": { "$ref": "operations/checks/list-for-suite.json" }
    },
    "/repos/{owner}/{repo}/check-suites/{check_suite_id}/rerequest": {
      "post": { "$ref": "operations/checks/rerequest-suite.json" }
    },
    "/repos/{owner}/{repo}/collaborators": {
      "get": { "$ref": "operations/repos/list-collaborators.json" }
    },
    "/repos/{owner}/{repo}/collaborators/{username}": {
      "get": { "$ref": "operations/repos/check-collaborator.json" },
      "put": { "$ref": "operations/repos/add-collaborator.json" },
      "delete": { "$ref": "operations/repos/remove-collaborator.json" }
    },
    "/repos/{owner}/{repo}/collaborators/{username}/permission": {
      "get": {
        "$ref": "operations/repos/get-collaborator-permission-level.json"
      }
    },
    "/repos/{owner}/{repo}/comments": {
      "get": { "$ref": "operations/repos/list-commit-comments.json" }
    },
    "/repos/{owner}/{repo}/comments/{comment_id}": {
      "get": { "$ref": "operations/repos/get-commit-comment.json" },
      "patch": { "$ref": "operations/repos/update-commit-comment.json" },
      "delete": { "$ref": "operations/repos/delete-commit-comment.json" }
    },
    "/repos/{owner}/{repo}/comments/{comment_id}/reactions": {
      "get": { "$ref": "operations/reactions/list-for-commit-comment.json" },
      "post": { "$ref": "operations/reactions/create-for-commit-comment.json" }
    },
    "/repos/{owner}/{repo}/commits": {
      "get": { "$ref": "operations/repos/list-commits.json" }
    },
    "/repos/{owner}/{repo}/commits/{commit_sha}/branches-where-head": {
      "get": { "$ref": "operations/repos/list-branches-for-head-commit.json" }
    },
    "/repos/{owner}/{repo}/commits/{commit_sha}/comments": {
      "get": { "$ref": "operations/repos/list-comments-for-commit.json" },
      "post": { "$ref": "operations/repos/create-commit-comment.json" }
    },
    "/repos/{owner}/{repo}/commits/{commit_sha}/pulls": {
      "get": {
        "$ref": "operations/repos/list-pull-requests-associated-with-commit.json"
      }
    },
    "/repos/{owner}/{repo}/commits/{ref}": {
      "get": { "$ref": "operations/repos/get-commit.json" }
    },
    "/repos/{owner}/{repo}/commits/{ref}/check-runs": {
      "get": { "$ref": "operations/checks/list-for-ref.json" }
    },
    "/repos/{owner}/{repo}/commits/{ref}/check-suites": {
      "get": { "$ref": "operations/checks/list-suites-for-ref.json" }
    },
    "/repos/{owner}/{repo}/commits/{ref}/status": {
      "get": { "$ref": "operations/repos/get-combined-status-for-ref.json" }
    },
    "/repos/{owner}/{repo}/commits/{ref}/statuses": {
      "get": { "$ref": "operations/repos/list-statuses-for-ref.json" }
    },
    "/repos/{owner}/{repo}/community/code_of_conduct": {
      "get": { "$ref": "operations/codes-of-conduct/get-for-repo.json" }
    },
    "/repos/{owner}/{repo}/community/profile": {
      "get": {
        "$ref": "operations/repos/retrieve-community-profile-metrics.json"
      }
    },
    "/repos/{owner}/{repo}/compare/{base}...{head}": {
      "get": { "$ref": "operations/repos/compare-commits.json" }
    },
    "/repos/{owner}/{repo}/contents/{path}": {
      "get": { "$ref": "operations/repos/get-contents.json" },
      "put": { "$ref": "operations/repos/create-or-update-file.json" },
      "delete": { "$ref": "operations/repos/delete-file.json" }
    },
    "/repos/{owner}/{repo}/contributors": {
      "get": { "$ref": "operations/repos/list-contributors.json" }
    },
    "/repos/{owner}/{repo}/deployments": {
      "get": { "$ref": "operations/repos/list-deployments.json" },
      "post": { "$ref": "operations/repos/create-deployment.json" }
    },
    "/repos/{owner}/{repo}/deployments/{deployment_id}": {
      "get": { "$ref": "operations/repos/get-deployment.json" }
    },
    "/repos/{owner}/{repo}/deployments/{deployment_id}/statuses": {
      "get": { "$ref": "operations/repos/list-deployment-statuses.json" },
      "post": { "$ref": "operations/repos/create-deployment-status.json" }
    },
    "/repos/{owner}/{repo}/deployments/{deployment_id}/statuses/{status_id}": {
      "get": { "$ref": "operations/repos/get-deployment-status.json" }
    },
    "/repos/{owner}/{repo}/dispatches": {
      "post": { "$ref": "operations/repos/create-dispatch-event.json" }
    },
    "/repos/{owner}/{repo}/downloads": {
      "get": { "$ref": "operations/repos/list-downloads.json" }
    },
    "/repos/{owner}/{repo}/downloads/{download_id}": {
      "get": { "$ref": "operations/repos/get-download.json" },
      "delete": { "$ref": "operations/repos/delete-download.json" }
    },
    "/repos/{owner}/{repo}/events": {
      "get": { "$ref": "operations/activity/list-repo-events.json" }
    },
    "/repos/{owner}/{repo}/forks": {
      "get": { "$ref": "operations/repos/list-forks.json" },
      "post": { "$ref": "operations/repos/create-fork.json" }
    },
    "/repos/{owner}/{repo}/git/blobs": {
      "post": { "$ref": "operations/git/create-blob.json" }
    },
    "/repos/{owner}/{repo}/git/blobs/{file_sha}": {
      "get": { "$ref": "operations/git/get-blob.json" }
    },
    "/repos/{owner}/{repo}/git/commits": {
      "post": { "$ref": "operations/git/create-commit.json" }
    },
    "/repos/{owner}/{repo}/git/commits/{commit_sha}": {
      "get": { "$ref": "operations/git/get-commit.json" }
    },
    "/repos/{owner}/{repo}/git/matching-refs/{ref}": {
      "get": { "$ref": "operations/git/list-matching-refs.json" }
    },
    "/repos/{owner}/{repo}/git/ref/{ref}": {
      "get": { "$ref": "operations/git/get-ref.json" }
    },
    "/repos/{owner}/{repo}/git/refs": {
      "post": { "$ref": "operations/git/create-ref.json" }
    },
    "/repos/{owner}/{repo}/git/refs/{ref}": {
      "patch": { "$ref": "operations/git/update-ref.json" },
      "delete": { "$ref": "operations/git/delete-ref.json" }
    },
    "/repos/{owner}/{repo}/git/tags": {
      "post": { "$ref": "operations/git/create-tag.json" }
    },
    "/repos/{owner}/{repo}/git/tags/{tag_sha}": {
      "get": { "$ref": "operations/git/get-tag.json" }
    },
    "/repos/{owner}/{repo}/git/trees": {
      "post": { "$ref": "operations/git/create-tree.json" }
    },
    "/repos/{owner}/{repo}/git/trees/{tree_sha}": {
      "get": { "$ref": "operations/git/get-tree.json" }
    },
    "/repos/{owner}/{repo}/hooks": {
      "get": { "$ref": "operations/repos/list-hooks.json" },
      "post": { "$ref": "operations/repos/create-hook.json" }
    },
    "/repos/{owner}/{repo}/hooks/{hook_id}": {
      "get": { "$ref": "operations/repos/get-hook.json" },
      "patch": { "$ref": "operations/repos/update-hook.json" },
      "delete": { "$ref": "operations/repos/delete-hook.json" }
    },
    "/repos/{owner}/{repo}/hooks/{hook_id}/pings": {
      "post": { "$ref": "operations/repos/ping-hook.json" }
    },
    "/repos/{owner}/{repo}/hooks/{hook_id}/tests": {
      "post": { "$ref": "operations/repos/test-push-hook.json" }
    },
    "/repos/{owner}/{repo}/import": {
      "put": { "$ref": "operations/migrations/start-import.json" },
      "get": { "$ref": "operations/migrations/get-import-progress.json" },
      "patch": { "$ref": "operations/migrations/update-import.json" },
      "delete": { "$ref": "operations/migrations/cancel-import.json" }
    },
    "/repos/{owner}/{repo}/import/authors": {
      "get": { "$ref": "operations/migrations/get-commit-authors.json" }
    },
    "/repos/{owner}/{repo}/import/authors/{author_id}": {
      "patch": { "$ref": "operations/migrations/map-commit-author.json" }
    },
    "/repos/{owner}/{repo}/import/large_files": {
      "get": { "$ref": "operations/migrations/get-large-files.json" }
    },
    "/repos/{owner}/{repo}/import/lfs": {
      "patch": { "$ref": "operations/migrations/set-lfs-preference.json" }
    },
    "/repos/{owner}/{repo}/installation": {
      "get": { "$ref": "operations/apps/get-repo-installation.json" }
    },
    "/repos/{owner}/{repo}/interaction-limits": {
      "get": {
        "$ref": "operations/interactions/get-restrictions-for-repo.json"
      },
      "put": {
        "$ref": "operations/interactions/add-or-update-restrictions-for-repo.json"
      },
      "delete": {
        "$ref": "operations/interactions/remove-restrictions-for-repo.json"
      }
    },
    "/repos/{owner}/{repo}/invitations": {
      "get": { "$ref": "operations/repos/list-invitations.json" }
    },
    "/repos/{owner}/{repo}/invitations/{invitation_id}": {
      "delete": { "$ref": "operations/repos/delete-invitation.json" },
      "patch": { "$ref": "operations/repos/update-invitation.json" }
    },
    "/repos/{owner}/{repo}/issues": {
      "get": { "$ref": "operations/issues/list-for-repo.json" },
      "post": { "$ref": "operations/issues/create.json" }
    },
    "/repos/{owner}/{repo}/issues/comments": {
      "get": { "$ref": "operations/issues/list-comments-for-repo.json" }
    },
    "/repos/{owner}/{repo}/issues/comments/{comment_id}": {
      "get": { "$ref": "operations/issues/get-comment.json" },
      "patch": { "$ref": "operations/issues/update-comment.json" },
      "delete": { "$ref": "operations/issues/delete-comment.json" }
    },
    "/repos/{owner}/{repo}/issues/comments/{comment_id}/reactions": {
      "get": { "$ref": "operations/reactions/list-for-issue-comment.json" },
      "post": { "$ref": "operations/reactions/create-for-issue-comment.json" }
    },
    "/repos/{owner}/{repo}/issues/events": {
      "get": { "$ref": "operations/issues/list-events-for-repo.json" }
    },
    "/repos/{owner}/{repo}/issues/events/{event_id}": {
      "get": { "$ref": "operations/issues/get-event.json" }
    },
    "/repos/{owner}/{repo}/issues/{issue_number}": {
      "get": { "$ref": "operations/issues/get.json" },
      "patch": { "$ref": "operations/issues/update.json" }
    },
    "/repos/{owner}/{repo}/issues/{issue_number}/assignees": {
      "post": { "$ref": "operations/issues/add-assignees.json" },
      "delete": { "$ref": "operations/issues/remove-assignees.json" }
    },
    "/repos/{owner}/{repo}/issues/{issue_number}/comments": {
      "get": { "$ref": "operations/issues/list-comments.json" },
      "post": { "$ref": "operations/issues/create-comment.json" }
    },
    "/repos/{owner}/{repo}/issues/{issue_number}/events": {
      "get": { "$ref": "operations/issues/list-events.json" }
    },
    "/repos/{owner}/{repo}/issues/{issue_number}/labels": {
      "get": { "$ref": "operations/issues/list-labels-on-issue.json" },
      "post": { "$ref": "operations/issues/add-labels.json" },
      "put": { "$ref": "operations/issues/replace-labels.json" },
      "delete": { "$ref": "operations/issues/remove-labels.json" }
    },
    "/repos/{owner}/{repo}/issues/{issue_number}/labels/{name}": {
      "delete": { "$ref": "operations/issues/remove-label.json" }
    },
    "/repos/{owner}/{repo}/issues/{issue_number}/lock": {
      "put": { "$ref": "operations/issues/lock.json" },
      "delete": { "$ref": "operations/issues/unlock.json" }
    },
    "/repos/{owner}/{repo}/issues/{issue_number}/reactions": {
      "get": { "$ref": "operations/reactions/list-for-issue.json" },
      "post": { "$ref": "operations/reactions/create-for-issue.json" }
    },
    "/repos/{owner}/{repo}/issues/{issue_number}/timeline": {
      "get": { "$ref": "operations/issues/list-events-for-timeline.json" }
    },
    "/repos/{owner}/{repo}/keys": {
      "get": { "$ref": "operations/repos/list-deploy-keys.json" },
      "post": { "$ref": "operations/repos/add-deploy-key.json" }
    },
    "/repos/{owner}/{repo}/keys/{key_id}": {
      "get": { "$ref": "operations/repos/get-deploy-key.json" },
      "delete": { "$ref": "operations/repos/remove-deploy-key.json" }
    },
    "/repos/{owner}/{repo}/labels": {
      "get": { "$ref": "operations/issues/list-labels-for-repo.json" },
      "post": { "$ref": "operations/issues/create-label.json" }
    },
    "/repos/{owner}/{repo}/labels/{name}": {
      "get": { "$ref": "operations/issues/get-label.json" },
      "patch": { "$ref": "operations/issues/update-label.json" },
      "delete": { "$ref": "operations/issues/delete-label.json" }
    },
    "/repos/{owner}/{repo}/languages": {
      "get": { "$ref": "operations/repos/list-languages.json" }
    },
    "/repos/{owner}/{repo}/license": {
      "get": { "$ref": "operations/licenses/get-for-repo.json" }
    },
    "/repos/{owner}/{repo}/merges": {
      "post": { "$ref": "operations/repos/merge.json" }
    },
    "/repos/{owner}/{repo}/milestones": {
      "get": { "$ref": "operations/issues/list-milestones-for-repo.json" },
      "post": { "$ref": "operations/issues/create-milestone.json" }
    },
    "/repos/{owner}/{repo}/milestones/{milestone_number}": {
      "get": { "$ref": "operations/issues/get-milestone.json" },
      "patch": { "$ref": "operations/issues/update-milestone.json" },
      "delete": { "$ref": "operations/issues/delete-milestone.json" }
    },
    "/repos/{owner}/{repo}/milestones/{milestone_number}/labels": {
      "get": { "$ref": "operations/issues/list-labels-for-milestone.json" }
    },
    "/repos/{owner}/{repo}/notifications": {
      "get": { "$ref": "operations/activity/list-notifications-for-repo.json" },
      "put": {
        "$ref": "operations/activity/mark-notifications-as-read-for-repo.json"
      }
    },
    "/repos/{owner}/{repo}/pages": {
      "get": { "$ref": "operations/repos/get-pages.json" },
      "post": { "$ref": "operations/repos/enable-pages-site.json" },
      "delete": { "$ref": "operations/repos/disable-pages-site.json" },
      "put": {
        "$ref": "operations/repos/update-information-about-pages-site.json"
      }
    },
    "/repos/{owner}/{repo}/pages/builds": {
      "post": { "$ref": "operations/repos/request-page-build.json" },
      "get": { "$ref": "operations/repos/list-pages-builds.json" }
    },
    "/repos/{owner}/{repo}/pages/builds/latest": {
      "get": { "$ref": "operations/repos/get-latest-pages-build.json" }
    },
    "/repos/{owner}/{repo}/pages/builds/{build_id}": {
      "get": { "$ref": "operations/repos/get-pages-build.json" }
    },
    "/repos/{owner}/{repo}/projects": {
      "get": { "$ref": "operations/projects/list-for-repo.json" },
      "post": { "$ref": "operations/projects/create-for-repo.json" }
    },
    "/repos/{owner}/{repo}/pulls": {
      "get": { "$ref": "operations/pulls/list.json" },
      "post": { "$ref": "operations/pulls/create.json" }
    },
    "/repos/{owner}/{repo}/pulls/comments": {
      "get": { "$ref": "operations/pulls/list-comments-for-repo.json" }
    },
    "/repos/{owner}/{repo}/pulls/comments/{comment_id}": {
      "get": { "$ref": "operations/pulls/get-comment.json" },
      "patch": { "$ref": "operations/pulls/update-comment.json" },
      "delete": { "$ref": "operations/pulls/delete-comment.json" }
    },
    "/repos/{owner}/{repo}/pulls/comments/{comment_id}/reactions": {
      "get": {
        "$ref": "operations/reactions/list-for-pull-request-review-comment.json"
      },
      "post": {
        "$ref": "operations/reactions/create-for-pull-request-review-comment.json"
      }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}": {
      "get": { "$ref": "operations/pulls/get.json" },
      "patch": { "$ref": "operations/pulls/update.json" }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/comments": {
      "get": { "$ref": "operations/pulls/list-comments.json" },
      "post": { "$ref": "operations/pulls/create-comment.json" }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/comments/{comment_id}/replies": {
      "post": { "$ref": "operations/pulls/create-review-comment-reply.json" }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/commits": {
      "get": { "$ref": "operations/pulls/list-commits.json" }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/files": {
      "get": { "$ref": "operations/pulls/list-files.json" }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/merge": {
      "get": { "$ref": "operations/pulls/check-if-merged.json" },
      "put": { "$ref": "operations/pulls/merge.json" }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/requested_reviewers": {
      "get": { "$ref": "operations/pulls/list-review-requests.json" },
      "post": { "$ref": "operations/pulls/create-review-request.json" },
      "delete": { "$ref": "operations/pulls/delete-review-request.json" }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/reviews": {
      "get": { "$ref": "operations/pulls/list-reviews.json" },
      "post": { "$ref": "operations/pulls/create-review.json" }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/reviews/{review_id}": {
      "get": { "$ref": "operations/pulls/get-review.json" },
      "delete": { "$ref": "operations/pulls/delete-pending-review.json" },
      "put": { "$ref": "operations/pulls/update-review.json" }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/reviews/{review_id}/comments": {
      "get": { "$ref": "operations/pulls/get-comments-for-review.json" }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/reviews/{review_id}/dismissals": {
      "put": { "$ref": "operations/pulls/dismiss-review.json" }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/reviews/{review_id}/events": {
      "post": { "$ref": "operations/pulls/submit-review.json" }
    },
    "/repos/{owner}/{repo}/pulls/{pull_number}/update-branch": {
      "put": { "$ref": "operations/pulls/update-branch.json" }
    },
    "/repos/{owner}/{repo}/readme": {
      "get": { "$ref": "operations/repos/get-readme.json" }
    },
    "/repos/{owner}/{repo}/releases": {
      "get": { "$ref": "operations/repos/list-releases.json" },
      "post": { "$ref": "operations/repos/create-release.json" }
    },
    "/repos/{owner}/{repo}/releases/assets/{asset_id}": {
      "get": { "$ref": "operations/repos/get-release-asset.json" },
      "patch": { "$ref": "operations/repos/update-release-asset.json" },
      "delete": { "$ref": "operations/repos/delete-release-asset.json" }
    },
    "/repos/{owner}/{repo}/releases/latest": {
      "get": { "$ref": "operations/repos/get-latest-release.json" }
    },
    "/repos/{owner}/{repo}/releases/tags/{tag}": {
      "get": { "$ref": "operations/repos/get-release-by-tag.json" }
    },
    "/repos/{owner}/{repo}/releases/{release_id}": {
      "get": { "$ref": "operations/repos/get-release.json" },
      "patch": { "$ref": "operations/repos/update-release.json" },
      "delete": { "$ref": "operations/repos/delete-release.json" }
    },
    "/repos/{owner}/{repo}/releases/{release_id}/assets": {
      "get": { "$ref": "operations/repos/list-assets-for-release.json" },
      "post": { "$ref": "operations/repos/upload-release-asset.json" }
    },
    "/repos/{owner}/{repo}/stargazers": {
      "get": { "$ref": "operations/activity/list-stargazers-for-repo.json" }
    },
    "/repos/{owner}/{repo}/stats/code_frequency": {
      "get": { "$ref": "operations/repos/get-code-frequency-stats.json" }
    },
    "/repos/{owner}/{repo}/stats/commit_activity": {
      "get": { "$ref": "operations/repos/get-commit-activity-stats.json" }
    },
    "/repos/{owner}/{repo}/stats/contributors": {
      "get": { "$ref": "operations/repos/get-contributors-stats.json" }
    },
    "/repos/{owner}/{repo}/stats/participation": {
      "get": { "$ref": "operations/repos/get-participation-stats.json" }
    },
    "/repos/{owner}/{repo}/stats/punch_card": {
      "get": { "$ref": "operations/repos/get-punch-card-stats.json" }
    },
    "/repos/{owner}/{repo}/statuses/{sha}": {
      "post": { "$ref": "operations/repos/create-status.json" }
    },
    "/repos/{owner}/{repo}/subscribers": {
      "get": { "$ref": "operations/activity/list-watchers-for-repo.json" }
    },
    "/repos/{owner}/{repo}/subscription": {
      "get": { "$ref": "operations/activity/get-repo-subscription.json" },
      "put": { "$ref": "operations/activity/set-repo-subscription.json" },
      "delete": { "$ref": "operations/activity/delete-repo-subscription.json" }
    },
    "/repos/{owner}/{repo}/tags": {
      "get": { "$ref": "operations/repos/list-tags.json" }
    },
    "/repos/{owner}/{repo}/teams": {
      "get": { "$ref": "operations/repos/list-teams.json" }
    },
    "/repos/{owner}/{repo}/topics": {
      "get": { "$ref": "operations/repos/list-topics.json" },
      "put": { "$ref": "operations/repos/replace-topics.json" }
    },
    "/repos/{owner}/{repo}/traffic/clones": {
      "get": { "$ref": "operations/repos/get-clones.json" }
    },
    "/repos/{owner}/{repo}/traffic/popular/paths": {
      "get": { "$ref": "operations/repos/get-top-paths.json" }
    },
    "/repos/{owner}/{repo}/traffic/popular/referrers": {
      "get": { "$ref": "operations/repos/get-top-referrers.json" }
    },
    "/repos/{owner}/{repo}/traffic/views": {
      "get": { "$ref": "operations/repos/get-views.json" }
    },
    "/repos/{owner}/{repo}/transfer": {
      "post": { "$ref": "operations/repos/transfer.json" }
    },
    "/repos/{owner}/{repo}/vulnerability-alerts": {
      "get": { "$ref": "operations/repos/check-vulnerability-alerts.json" },
      "put": { "$ref": "operations/repos/enable-vulnerability-alerts.json" },
      "delete": { "$ref": "operations/repos/disable-vulnerability-alerts.json" }
    },
    "/repos/{owner}/{repo}/{archive_format}/{ref}": {
      "get": { "$ref": "operations/repos/get-archive-link.json" }
    },
    "/repos/{template_owner}/{template_repo}/generate": {
      "post": { "$ref": "operations/repos/create-using-template.json" }
    },
    "/repositories": { "get": { "$ref": "operations/repos/list-public.json" } },
    "/scim/v2/organizations/{org}/Users": {
      "get": { "$ref": "operations/scim/list-provisioned-identities.json" },
      "post": { "$ref": "operations/scim/provision-and-invite-users.json" }
    },
    "/scim/v2/organizations/{org}/Users/{scim_user_id}": {
      "get": {
        "$ref": "operations/scim/get-provisioning-details-for-user.json"
      },
      "put": {
        "$ref": "operations/scim/replace-provisioned-user-information.json"
      },
      "patch": { "$ref": "operations/scim/update-user-attribute.json" },
      "delete": { "$ref": "operations/scim/remove-user-from-org.json" }
    },
    "/search/code": { "get": { "$ref": "operations/search/code.json" } },
    "/search/commits": { "get": { "$ref": "operations/search/commits.json" } },
    "/search/issues": {
      "get": { "$ref": "operations/search/issues-and-pull-requests.json" }
    },
    "/search/labels": { "get": { "$ref": "operations/search/labels.json" } },
    "/search/repositories": {
      "get": { "$ref": "operations/search/repos.json" }
    },
    "/search/topics": { "get": { "$ref": "operations/search/topics.json" } },
    "/search/users": { "get": { "$ref": "operations/search/users.json" } },
    "/teams/{team_id}": {
      "get": { "$ref": "operations/teams/get-legacy.json" },
      "patch": { "$ref": "operations/teams/update-legacy.json" },
      "delete": { "$ref": "operations/teams/delete-legacy.json" }
    },
    "/teams/{team_id}/discussions": {
      "get": { "$ref": "operations/teams/list-discussions-legacy.json" },
      "post": { "$ref": "operations/teams/create-discussion-legacy.json" }
    },
    "/teams/{team_id}/discussions/{discussion_number}": {
      "get": { "$ref": "operations/teams/get-discussion-legacy.json" },
      "patch": { "$ref": "operations/teams/update-discussion-legacy.json" },
      "delete": { "$ref": "operations/teams/delete-discussion-legacy.json" }
    },
    "/teams/{team_id}/discussions/{discussion_number}/comments": {
      "get": {
        "$ref": "operations/teams/list-discussion-comments-legacy.json"
      },
      "post": {
        "$ref": "operations/teams/create-discussion-comment-legacy.json"
      }
    },
    "/teams/{team_id}/discussions/{discussion_number}/comments/{comment_number}": {
      "get": { "$ref": "operations/teams/get-discussion-comment-legacy.json" },
      "patch": {
        "$ref": "operations/teams/update-discussion-comment-legacy.json"
      },
      "delete": {
        "$ref": "operations/teams/delete-discussion-comment-legacy.json"
      }
    },
    "/teams/{team_id}/discussions/{discussion_number}/comments/{comment_number}/reactions": {
      "get": {
        "$ref": "operations/reactions/list-for-team-discussion-comment-legacy.json"
      },
      "post": {
        "$ref": "operations/reactions/create-for-team-discussion-comment-legacy.json"
      }
    },
    "/teams/{team_id}/discussions/{discussion_number}/reactions": {
      "get": {
        "$ref": "operations/reactions/list-for-team-discussion-legacy.json"
      },
      "post": {
        "$ref": "operations/reactions/create-for-team-discussion-legacy.json"
      }
    },
    "/teams/{team_id}/invitations": {
      "get": { "$ref": "operations/teams/list-pending-invitations-legacy.json" }
    },
    "/teams/{team_id}/members": {
      "get": { "$ref": "operations/teams/list-members-legacy.json" }
    },
    "/teams/{team_id}/members/{username}": {
      "get": { "$ref": "operations/teams/get-member-legacy.json" },
      "put": { "$ref": "operations/teams/add-member-legacy.json" },
      "delete": { "$ref": "operations/teams/remove-member-legacy.json" }
    },
    "/teams/{team_id}/memberships/{username}": {
      "get": { "$ref": "operations/teams/get-membership-legacy.json" },
      "put": {
        "$ref": "operations/teams/add-or-update-membership-legacy.json"
      },
      "delete": { "$ref": "operations/teams/remove-membership-legacy.json" }
    },
    "/teams/{team_id}/projects": {
      "get": { "$ref": "operations/teams/list-projects-legacy.json" }
    },
    "/teams/{team_id}/projects/{project_id}": {
      "get": { "$ref": "operations/teams/review-project-legacy.json" },
      "put": { "$ref": "operations/teams/add-or-update-project-legacy.json" },
      "delete": { "$ref": "operations/teams/remove-project-legacy.json" }
    },
    "/teams/{team_id}/repos": {
      "get": { "$ref": "operations/teams/list-repos-legacy.json" }
    },
    "/teams/{team_id}/repos/{owner}/{repo}": {
      "get": { "$ref": "operations/teams/check-manages-repo-legacy.json" },
      "put": { "$ref": "operations/teams/add-or-update-repo-legacy.json" },
      "delete": { "$ref": "operations/teams/remove-repo-legacy.json" }
    },
    "/teams/{team_id}/team-sync/group-mappings": {
      "get": { "$ref": "operations/teams/list-id-p-groups-for-legacy.json" },
      "patch": {
        "$ref": "operations/teams/create-or-update-id-p-group-connections-legacy.json"
      }
    },
    "/teams/{team_id}/teams": {
      "get": { "$ref": "operations/teams/list-child-legacy.json" }
    },
    "/user": {
      "get": { "$ref": "operations/users/get-authenticated.json" },
      "patch": { "$ref": "operations/users/update-authenticated.json" }
    },
    "/user/blocks": { "get": { "$ref": "operations/users/list-blocked.json" } },
    "/user/blocks/{username}": {
      "get": { "$ref": "operations/users/check-blocked.json" },
      "put": { "$ref": "operations/users/block.json" },
      "delete": { "$ref": "operations/users/unblock.json" }
    },
    "/user/email/visibility": {
      "patch": {
        "$ref": "operations/users/toggle-primary-email-visibility.json"
      }
    },
    "/user/emails": {
      "get": { "$ref": "operations/users/list-emails.json" },
      "post": { "$ref": "operations/users/add-emails.json" },
      "delete": { "$ref": "operations/users/delete-emails.json" }
    },
    "/user/followers": {
      "get": {
        "$ref": "operations/users/list-followers-for-authenticated-user.json"
      }
    },
    "/user/following": {
      "get": {
        "$ref": "operations/users/list-following-for-authenticated-user.json"
      }
    },
    "/user/following/{username}": {
      "get": { "$ref": "operations/users/check-following.json" },
      "put": { "$ref": "operations/users/follow.json" },
      "delete": { "$ref": "operations/users/unfollow.json" }
    },
    "/user/gpg_keys": {
      "get": { "$ref": "operations/users/list-gpg-keys.json" },
      "post": { "$ref": "operations/users/create-gpg-key.json" }
    },
    "/user/gpg_keys/{gpg_key_id}": {
      "get": { "$ref": "operations/users/get-gpg-key.json" },
      "delete": { "$ref": "operations/users/delete-gpg-key.json" }
    },
    "/user/installations": {
      "get": {
        "$ref": "operations/apps/list-installations-for-authenticated-user.json"
      }
    },
    "/user/installations/{installation_id}/repositories": {
      "get": {
        "$ref": "operations/apps/list-installation-repos-for-authenticated-user.json"
      }
    },
    "/user/installations/{installation_id}/repositories/{repository_id}": {
      "put": { "$ref": "operations/apps/add-repo-to-installation.json" },
      "delete": { "$ref": "operations/apps/remove-repo-from-installation.json" }
    },
    "/user/issues": {
      "get": { "$ref": "operations/issues/list-for-authenticated-user.json" }
    },
    "/user/keys": {
      "get": { "$ref": "operations/users/list-public-keys.json" },
      "post": { "$ref": "operations/users/create-public-key.json" }
    },
    "/user/keys/{key_id}": {
      "get": { "$ref": "operations/users/get-public-key.json" },
      "delete": { "$ref": "operations/users/delete-public-key.json" }
    },
    "/user/marketplace_purchases": {
      "get": {
        "$ref": "operations/apps/list-marketplace-purchases-for-authenticated-user.json"
      }
    },
    "/user/marketplace_purchases/stubbed": {
      "get": {
        "$ref": "operations/apps/list-marketplace-purchases-for-authenticated-user-stubbed.json"
      }
    },
    "/user/memberships/orgs": {
      "get": { "$ref": "operations/orgs/list-memberships.json" }
    },
    "/user/memberships/orgs/{org}": {
      "get": {
        "$ref": "operations/orgs/get-membership-for-authenticated-user.json"
      },
      "patch": { "$ref": "operations/orgs/update-membership.json" }
    },
    "/user/migrations": {
      "post": {
        "$ref": "operations/migrations/start-for-authenticated-user.json"
      },
      "get": {
        "$ref": "operations/migrations/list-for-authenticated-user.json"
      }
    },
    "/user/migrations/{migration_id}": {
      "get": {
        "$ref": "operations/migrations/get-status-for-authenticated-user.json"
      }
    },
    "/user/migrations/{migration_id}/archive": {
      "get": {
        "$ref": "operations/migrations/get-archive-for-authenticated-user.json"
      },
      "delete": {
        "$ref": "operations/migrations/delete-archive-for-authenticated-user.json"
      }
    },
    "/user/migrations/{migration_id}/repos/{repo_name}/lock": {
      "delete": {
        "$ref": "operations/migrations/unlock-repo-for-authenticated-user.json"
      }
    },
    "/user/orgs": {
      "get": { "$ref": "operations/orgs/list-for-authenticated-user.json" }
    },
    "/user/projects": {
      "post": {
        "$ref": "operations/projects/create-for-authenticated-user.json"
      }
    },
    "/user/public_emails": {
      "get": { "$ref": "operations/users/list-public-emails.json" }
    },
    "/user/repos": {
      "get": { "$ref": "operations/repos/list.json" },
      "post": { "$ref": "operations/repos/create-for-authenticated-user.json" }
    },
    "/user/repository_invitations": {
      "get": {
        "$ref": "operations/repos/list-invitations-for-authenticated-user.json"
      }
    },
    "/user/repository_invitations/{invitation_id}": {
      "patch": { "$ref": "operations/repos/accept-invitation.json" },
      "delete": { "$ref": "operations/repos/decline-invitation.json" }
    },
    "/user/starred": {
      "get": {
        "$ref": "operations/activity/list-repos-starred-by-authenticated-user.json"
      }
    },
    "/user/starred/{owner}/{repo}": {
      "get": { "$ref": "operations/activity/check-starring-repo.json" },
      "put": { "$ref": "operations/activity/star-repo.json" },
      "delete": { "$ref": "operations/activity/unstar-repo.json" }
    },
    "/user/subscriptions": {
      "get": {
        "$ref": "operations/activity/list-watched-repos-for-authenticated-user.json"
      }
    },
    "/user/subscriptions/{owner}/{repo}": {
      "get": { "$ref": "operations/activity/check-watching-repo-legacy.json" },
      "put": { "$ref": "operations/activity/watch-repo-legacy.json" },
      "delete": { "$ref": "operations/activity/stop-watching-repo-legacy.json" }
    },
    "/user/teams": {
      "get": { "$ref": "operations/teams/list-for-authenticated-user.json" }
    },
    "/user/{migration_id}/repositories": {
      "get": { "$ref": "operations/migrations/list-repos-for-user.json" }
    },
    "/users": { "get": { "$ref": "operations/users/list.json" } },
    "/users/{username}": {
      "get": { "$ref": "operations/users/get-by-username.json" }
    },
    "/users/{username}/events": {
      "get": { "$ref": "operations/activity/list-events-for-user.json" }
    },
    "/users/{username}/events/orgs/{org}": {
      "get": { "$ref": "operations/activity/list-events-for-org.json" }
    },
    "/users/{username}/events/public": {
      "get": { "$ref": "operations/activity/list-public-events-for-user.json" }
    },
    "/users/{username}/followers": {
      "get": { "$ref": "operations/users/list-followers-for-user.json" }
    },
    "/users/{username}/following": {
      "get": { "$ref": "operations/users/list-following-for-user.json" }
    },
    "/users/{username}/following/{target_user}": {
      "get": { "$ref": "operations/users/check-following-for-user.json" }
    },
    "/users/{username}/gists": {
      "get": { "$ref": "operations/gists/list-public-for-user.json" }
    },
    "/users/{username}/gpg_keys": {
      "get": { "$ref": "operations/users/list-gpg-keys-for-user.json" }
    },
    "/users/{username}/hovercard": {
      "get": { "$ref": "operations/users/get-context-for-user.json" }
    },
    "/users/{username}/installation": {
      "get": { "$ref": "operations/apps/get-user-installation.json" }
    },
    "/users/{username}/keys": {
      "get": { "$ref": "operations/users/list-public-keys-for-user.json" }
    },
    "/users/{username}/orgs": {
      "get": { "$ref": "operations/orgs/list-for-user.json" }
    },
    "/users/{username}/projects": {
      "get": { "$ref": "operations/projects/list-for-user.json" }
    },
    "/users/{username}/received_events": {
      "get": {
        "$ref": "operations/activity/list-received-events-for-user.json"
      }
    },
    "/users/{username}/received_events/public": {
      "get": {
        "$ref": "operations/activity/list-received-public-events-for-user.json"
      }
    },
    "/users/{username}/repos": {
      "get": { "$ref": "operations/repos/list-for-user.json" }
    },
    "/users/{username}/starred": {
      "get": { "$ref": "operations/activity/list-repos-starred-by-user.json" }
    },
    "/users/{username}/subscriptions": {
      "get": { "$ref": "operations/activity/list-repos-watched-by-user.json" }
    }
  }
}
