on: pull_request
name: Test
jobs:
  npmCi:
    name: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      if: github.event.action == 'synchronize'
    - name: npm ci
      uses: docker://timbru31/node-alpine-git
      with:
        entrypoint: npm
        args: ci
    - name: npm run routes:lint
      uses: docker://timbru31/node-alpine-git
      with:
        entrypoint: npm
        args: run routes:lint
    - name: npx standard
      uses: docker://timbru31/node-alpine-git
      with:
        entrypoint: npx
        args: standard
    - name: npm run test:ci
      uses: docker://timbru31/node-alpine-git
      with:
        entrypoint: npm
        args: run test:ci
